@font-face {
    font-family: 'galano_grotesqueregular';
    src: url('./fonts/galanogrotesqueregular-webfont.woff2') format('woff2'),
         url('./fonts/galanogrotesqueregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #060526;
    color: #FFEED3;
    overflow: hidden;
    font-size: 16px;
    font-family: 'galano_grotesqueregular', sans-serif;
}

video {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    opacity: 0.4;
}
video::-webkit-media-controls {
    display: none;
}

a {
    margin-top: 32px;
    display: inline-block;
    text-decoration: none;
    color: #060526;
    text-align: center;
    background-color: #FFEED3;
    padding: 15px 32px;
    border-radius: 6px;
    font-size: 18px;
}
a:hover {
    background-color: #060526;
    color: #FFEED3;
    border: 1px solid #FFEED3;
}

#logo {
    width: 100%;
    height: 100px;
    background-image: url('./nocturne.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    position: fixed;
    margin: auto;
    max-width: 600px;
    min-width: 320px;
    width: 80%;
    padding: 12px;
    height: 300px;
    top: 200px;
    z-index: 1;
}