@font-face {
    font-family: 'galano_grotesqueregular';
    src: url('./fonts/galanogrotesqueregular-webfont.woff2') format('woff2'),
         url('./fonts/galanogrotesqueregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 414px) {
    body { 
       font-size: 1.5em;
    }

    video {
        left: -400px !important;
    }
 }

 @media (min-width: 415px) and (max-width: 1200px) {
    video {
        left: -150px !important;
    }
 }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

body {
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 120px;;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #07052A;
    color: #FFEED3;
    overflow: hidden;
    font-size: 16px;
    font-family: 'galano_grotesqueregular', sans-serif;
}

p {
    margin-top: 40px;
    max-width: 600px;
}

video {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.8;
}
video::-webkit-media-controls {
    display: none;
}

a {
    margin-top: 32px;
    display: inline-block;
    text-decoration: none;
    color: #060526;
    text-align: center;
    background-color: #FFEED3;
    padding: 15px 32px;
    border-radius: 6px;
    font-size: 18px;
}
a:hover {
    background-color: #060526;
    color: #FFEED3;
    border: 1px solid #FFEED3;
}

#logo {
    width: 200px;
    height: 50px;
    background-image: url('./nocturne.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    position: fixed;
    margin: auto;
    max-width: 600px;
    min-width: 320px;
    width: 80%;
    padding: 12px;
    height: 300px;
    top: 200px;
    z-index: 1;
}